*{
    margin: 0px;
    padding: 0px;
    
}
#root{
    display: flex;
    
}
#root>div{
    border-left: 2px solid rgb(108, 154, 98);
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: scroll;
    scrollbar-width: none;
}

#root>div:first-child>div{
   
    border-radius: 10px;
    box-shadow: 2px 2px  5px rgb(79, 78, 78);
    padding: 20px !important;
    height: fit-content;
    margin-top: 100px;
    
}
#root>div:last-child>div>div{
 border-radius: 10px;
    box-shadow: 2px 2px  5px rgb(79, 78, 78);
    padding: 20px !important;
    height: fit-content;
    width: 300px;
    margin-top: 10px;
}
.btn{
    margin-left: 50px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(108, 154, 98);
}
h4{
    margin-top: 5px;
}
